<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Email Spam Prediction</title>
</head>
<body>
  <div class="container">
    <h1>Email Spam Prediction</h1>
    <form action="{{ url_for('predict_datapoint') }}" method="post">
      <label for="word_freq_make">Word Frequency: make</label>
      <input type="text" name="word_freq_make" placeholder="Word Frequency: make" required><br>

      <label for="word_freq_address">Word Frequency: address</label>
      <input type="text" name="word_freq_address" placeholder="Word Frequency: address" required><br>

      <label for="word_freq_all">Word Frequency: all</label>
      <input type="text" name="word_freq_all" placeholder="Word Frequency: all" required><br>

      <label for="word_freq_3d">Word Frequency: 3d</label>
      <input type="text" name="word_freq_3d" placeholder="Word Frequency: 3d" required><br>

      <label for="word_freq_our">Word Frequency: our</label>
      <input type="text" name="word_freq_our" placeholder="Word Frequency: our" required><br>

      <label for="word_freq_over">Word Frequency: over</label>
      <input type="text" name="word_freq_over" placeholder="Word Frequency: over" required><br>

      <label for="word_freq_remove">Word Frequency: remove</label>
      <input type="text" name="word_freq_remove" placeholder="Word Frequency: remove" required><br>

      <label for="word_freq_internet">Word Frequency: internet</label>
      <input type="text" name="word_freq_internet" placeholder="Word Frequency: internet" required><br>

      <label for="word_freq_order">Word Frequency: order</label>
      <input type="text" name="word_freq_order" placeholder="Word Frequency: order" required><br>

      <label for="word_freq_mail">Word Frequency: mail</label>
      <input type="text" name="word_freq_mail" placeholder="Word Frequency: mail" required><br>

      <label for="word_freq_receive">Word Frequency: receive</label>
      <input type="text" name="word_freq_receive" placeholder="Word Frequency: receive" required><br>

      <label for="word_freq_will">Word Frequency: will</label>
      <input type="text" name="word_freq_will" placeholder="Word Frequency: will" required><br>

      <label for="word_freq_people">Word Frequency: people</label>
      <input type="text" name="word_freq_people" placeholder="Word Frequency: people" required><br>
      <label for="word_freq_report">Word Frequency: report</label>
      <input type="text" name="word_freq_report" placeholder="Word Frequency: report" required><br>

      <label for="word_freq_addresses">Word Frequency: addresses</label>
      <input type="text" name="word_freq_addresses" placeholder="Word Frequency: addresses" required><br>

      <label for="word_freq_free">Word Frequency: free</label>
      <input type="text" name="word_freq_free" placeholder="Word Frequency: free" required><br>

      <label for="word_freq_business">Word Frequency: business</label>
      <input type="text" name="word_freq_business" placeholder="Word Frequency: business" required><br>

      <label for="word_freq_email">Word Frequency: email</label>
      <input type="text" name="word_freq_email" placeholder="Word Frequency: email" required><br>

      <label for="word_freq_you">Word Frequency: you</label>
      <input type="text" name="word_freq_you" placeholder="Word Frequency: you" required><br>

      <label for="word_freq_credit">Word Frequency: credit</label>
      <input type="text" name="word_freq_credit" placeholder="Word Frequency: credit" required><br>

      <label for="word_freq_your">Word Frequency: your</label>
      <input type="text" name="word_freq_your" placeholder="Word Frequency: your" required><br>

      <label for="word_freq_font">Word Frequency: font</label>
      <input type="text" name="word_freq_font" placeholder="Word Frequency: font" required><br>

      <label for="word_freq_000">Word Frequency: 000</label>
      <input type="text" name="word_freq_000" placeholder="Word Frequency: 000" required><br>

      <label for="word_freq_money">Word Frequency: money</label>
      <input type="text" name="word_freq_money" placeholder="Word Frequency: money" required><br>

      <label for="word_freq_hp">Word Frequency: hp</label>
      <input type="text" name="word_freq_hp" placeholder="Word Frequency: hp" required><br>

      <label for="word_freq_hpl">Word Frequency: hpl</label>
      <input type="text" name="word_freq_hpl" placeholder="Word Frequency: hpl" required><br>

      <label for="word_freq_george">Word Frequency: george</label>
      <input type="text" name="word_freq_george" placeholder="Word Frequency: george" required><br>

      <label for="word_freq_650">Word Frequency: 650</label>
      <input type="text" name="word_freq_650" placeholder="Word Frequency: 650" required><br>

      <label for="word_freq_lab">Word Frequency: lab</label>
      <input type="text" name="word_freq_lab" placeholder="Word Frequency: lab" required><br>

      <label for="word_freq_labs">Word Frequency: labs</label>
      <input type="text" name="word_freq_labs" placeholder="Word Frequency: labs" required><br>

      <label for="word_freq_telnet">Word Frequency: telnet</label>
      <input type="text" name="word_freq_telnet" placeholder="Word Frequency: telnet" required><br>

      <label for="word_freq_857">Word Frequency: 857</label>
      <input type="text" name="word_freq_857" placeholder="Word Frequency: 857" required><br>

      <label for="word_freq_data">Word Frequency: data</label>
      <input type="text" name="word_freq_data" placeholder="Word Frequency: data" required><br>

      <label for="word_freq_415">Word Frequency: 415</label>
      <input type="text" name="word_freq_415" placeholder="Word Frequency: 415" required><br>

      <label for="word_freq_85">Word Frequency: 85</label>
      <input type="text" name="word_freq_85" placeholder="Word Frequency: 85" required><br>

      <label for="word_freq_technology">Word Frequency: technology</label>
      <input type="text" name="word_freq_technology" placeholder="Word Frequency: technology" required><br>

      <label for="word_freq_1999">Word Frequency: 1999</label>
      <input type="text" name="word_freq_1999" placeholder="Word Frequency: 1999" required><br>

      <label for="word_freq_parts">Word Frequency: parts</label>
      <input type="text" name="word_freq_parts" placeholder="Word Frequency: parts" required><br>

      <label for="word_freq_pm">Word Frequency: pm</label>
      <input type="text" name="word_freq_pm" placeholder="Word Frequency: pm" required><br>

      <label for="word_freq_direct">Word Frequency: direct</label>
      <input type="text" name="word_freq_direct" placeholder="Word Frequency: direct" required><br>

      <label for="word_freq_cs">Word Frequency: cs</label>
      <input type="text" name="word_freq_cs" placeholder="Word Frequency: cs" required><br>

      <label for="word_freq_meeting">Word Frequency: meeting</label>
      <input type="text" name="word_freq_meeting" placeholder="Word Frequency: meeting" required><br>

      <label for="word_freq_original">Word Frequency: original</label>
      <input type="text" name="word_freq_original" placeholder="Word Frequency: original" required><br>

      <label for="word_freq_project">Word Frequency: project</label>
      <input type="text" name="word_freq_project" placeholder="Word Frequency: project" required><br>

      <label for="word_freq_re">Word Frequency: re</label>
      <input type="text" name="word_freq_re" placeholder="Word Frequency: re" required><br>

      <label for="word_freq_edu">Word Frequency: edu</label>
      <input type="text" name="word_freq_edu" placeholder="Word Frequency: edu" required><br>

      <label for="word_freq_table">Word Frequency: table</label>
      <input type="text" name="word_freq_table" placeholder="Word Frequency: table" required><br>

      <label for="word_freq_conference">Word Frequency: conference</label>
      <input type="text" name="word_freq_conference" placeholder="Word Frequency: conference" required><br>

      <label for="char_freq_colon">Character Frequency: colon</label>
      <input type="text" name="char_freq_colon" placeholder="Character Frequency: colon" required><br>

      <label for="char_freq_bracket">Character Frequency: bracket</label>
      <input type="text" name="char_freq_bracket" placeholder="Character Frequency: bracket" required><br>

      <label for="char_freq_square_bracket">Character Frequency: square bracket</label>
      <input type="text" name="char_freq_square_bracket" placeholder="Character Frequency: square bracket" required><br>

      <label for="char_freq_exclamatory">Character Frequency: exclamatory</label>
      <input type="text" name="char_freq_exclamatory" placeholder="Character Frequency: exclamatory" required><br>

      <label for="char_freq_rupees">Character Frequency: rupees</label>
      <input type="text" name="char_freq_rupees" placeholder="Character Frequency: rupees" required><br>

      <label for="char_freq_hash">Character Frequency: hash</label>
      <input type="text" name="char_freq_hash" placeholder="Character Frequency: hash" required><br>

      <label for="capital_run_length_average">Capital Run Length: average</label>
      <input type="text" name="capital_run_length_average" placeholder="Capital Run Length: average" required><br>

      <label for="capital_run_length_longest">Capital Run Length: longest</label>
      <input type="text" name="capital_run_length_longest" placeholder="Capital Run Length: longest" required><br>

      <label for="capital_run_length_total">Capital Run Length: total</label>
      <input type="text" name="capital_run_length_total" placeholder="Capital Run Length: total" required><br>

      <button type="submit">Predict</button>
    </form>

    {% if result %}
      <h2>{{ result }}</h2>
    {% endif %}
  </div>
</body>
</html>
